* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(128, 16, 63);
    padding-inline: 3rem;
    padding-block: 1rem;
    padding-inline-end: 10rem;
}

li {
    display: inline-block;
    margin-inline: 2rem;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}

li:hover {
    color: rgb(54, 20, 20);
}

h1 {
    font-family: "Overlock", sans-serif;
    font-size: 3rem;
    color: rgb(206, 140, 140);
}

